mixin component-menu-profile(data, attrs)
  nav.menu-profile&attributes(attrs)
    h3._heading= data.heading

    ul._list
      each item in data.data
        li._item(class=item.shop ? 'menu-profile__item--shop' : '')
          a._link(href=item.href title=item.title)
            span._title= item.title

            if (item.count)
              span.count._count= item.count 
