include ..\..\..\..\dev\temp\components\badge\template
include ..\..\..\..\dev\temp\components\photo\template
include ..\..\..\..\dev\temp\components\date\template
include ..\..\..\..\dev\temp\components\link-more\template


mixin component-post-card(data, options, attrs)
  .post-card(class=options.type ? `post-card--${options.type}` : '' class=options.size ? `post-card--${options.size}` : '')&attributes(attrs)
    ._body
      ._aside
        +component-photo({
          href: data.href,
          src: data.img,
          badge: {
            title: data.badge,
            type: 'primary',
            size: 'sm'
          }
        }, {
          class: 'post-card__photo'
        })
      
      ._main
        ._content
          if (!data.small && data.date)
            +component-date({
              title: data.date
            }, {
              class: 'post-card__date'
            })

          h3._heading
            a._link(href=data.href title='')= data.title
          
          if (data.caption)
            p._caption= data.caption

        ._footer
          if (data.more)
            +component-link-more({
              href: data.href,
              title: data.more
            }, {
              class: 'post-card__link-more'
            })
          
          if (data.small && data.date)
            +component-date({
              title: data.date
            }, {
              class: 'post-card__date'
            })
