mixin component-input-control(data, attrs)
  label.input-control(class=data.modifier ? `input-control--${data.modifier}` : '')&attributes(attrs)
    input._input(type=data.type name=data.name checked=data.checked ? data.checked : false)
    span._toggle
    if data.label
      span._label= data.label
